[Unit]
Description=Foundation Ottemo Service
Documentation=http://www.ottemo.io
After=network.target


[Service]
Type=forking
Environment="FOUNDATIONHOME=/opt/ottemo/foundation"
Environment="LOGFILE=/var/log/foundation.log"
WorkingDirectory=/opt/ottemo/foundation
ExecStart=/bin/bash -c "cd $FOUNDATIONHOME ; ./foundation &> $LOGFILE &"
ExecStop=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
